/* Setting styles for the entire page (presets)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
/*allows for smooth scrolling of the mouse*/
html{
    scroll-behavior: smooth;
}
/* removes underline from the links*/
a{ 
    text-decoration: none;
}
/*removes list styling*/
ul{
    list-style: none;
}
/*styling for the nav bar*/
.navbar{/* the "." referrencing the class in html*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: darkorchid;

}
/*styling for the logo*/
.logo{
    padding-left: 10px;
}
.logo-text{
    margin-left: auto;
    font-size: 1.5em;
}
/*menu bar styling*/
.menubar{
    width: 50%;
    margin-left: 0.5em;
}
.list{
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
}
/*style the list buttons*/
.list-items a{
    margin-right: 80px;
    color: white;
    font-family: sans-serif;
    font-size: 0.7em;
    transition: 0.4s;
}
.list-items a:hover{
    color:aqua;
}
/*styluing for the body, h1 text and img*/
body, h1, img{
    margin: 0;
    padding: 0;
}
/*styling the section1*/
.section1{
    position: relative;
    background: lightgray;
    overflow: visible;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    animation: fadeInFromMiddle 1.5s ease-out forwards;
}
/* setup the placeholder for the mosque images*/
.slideshow-container{
    max-width: 1500px;
    position: relative;
    margin: auto;
}
/* style the mosque images*/
.pic1, .pic2, .pic3, .pic4, .pic5{
    display: contents;
    animation: fade 2s ease;
}
/* sizing the image*/
.section1 img{
    width: 100%;
    height: 90vh;
}
/* animation to fade content in from the middle of the a certain point*/
@keyframes fadeInFromMiddle{
    0%{
        opacity:0 ;
        transform: translateY(10%)
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
/* styling the welcome text arabic and english*/
.welcome h1{
    animation: textMoveLeft 1.5s ease-in-out;
    text-align: right;
    font-family: 'Segoe UI' , Verdana, sans-serif;
    font-size: 3em;
    color: #392529; 
    margin-bottom: 10px;
}
@keyframes textMoveLeft{
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.welcome h2{
    opacity: 0;
    animation: textMoveRight 1.5s ease-in-out forwards;
    animation-delay: 2s;
    text-align: left;
    font-family: 'Segoe UI' , Verdana, sans-serif;
    font-size: 1.5em;
    color: #392529; 
    margin-bottom: 10px;
}
@keyframes textMoveRight{
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

manual-buttons {
    position: absolute;
    width: 100%;
    margin-top: -90px;
    display: flex;
    justify-content: center;
    }

    .manual-nav{
    position: absolute;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    }

    .dot {
    border: 2px solid #231915;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    .dot.active{
        background-color: black;
    }
    .dot:not(:last-child){
        margin-right: 40px;
    }
    .dot:hover{
        background: black;
    }
    /* section 2 styling*/
    .section2{
        text-align: center;
        background: lightgray;
        font-family: 'helectivia', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 10px;
        margin-top: 75px;
    }
    .prayer-image img{
        width: 100%;
        height: 40vh;
    }